<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/font-awesome/css/font-awesome.css" />
      
   
  </head>
  <body>
{{> header}}
    <script src="/javascripts/jquery.js"></script>
      <div class="container">
      {{{body}}}
      </div>
      
      
      <script src="/javascripts/bootstrap.js"></script>
      
  </body>
</html>
