<p>Welcome to {{title}}</p>

<div class="row">
    
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/image-1.jpg" alt="..." class="img-def">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <div class="clearfix">
           <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
    
</div>
